/* table,td,th,tr{
  border: 1px solid black;
 width: 500px;
  height: 50px;
  border-collapse: collapse;
} */
 /* .div1{
  height: 200px;
  width: 200px;
  border: 1px solid  darkblue;
  border-radius: 100px;
  margin-left: 700px;
  background-color: darkblue;
 }
 .div2{
  height: 200px;
  width: 200px;
  border: 1px solid cadetblue;
  /* border-radius: 100px; */
  /* margin-top: 20px;
  margin-left: 700px;
  background-color: cadetblue;

 } */
 /* .div3{
  height: 200px;
  width: 600px;
  border: 1px solid crimson;
  margin-top: 25px;
  margin-left: 500px;
  background-color: crimson;
 }
 .div4{
 
  width: 700px;
  border: 1px solid rebeccapurple;
  margin-top: 30px;
  margin-left: 500px;
 } */ 
 /* .card-container{
  display: inline-block;
  width: 400px;
  margin-left: 80px;
  padding: 1rem;

 }
 h1{
  margin-left: 700px;
 } */
/* .c1{
border: 1px solid rgb(193, 186, 186);
height: 600px;
width: 550px;
margin-top: 20px;
margin-left: 500px;
box-shadow: 10px 10px 10px 10px lightgray;
overflow-y: scroll;

  }
#h11{
  color: purple;
}
#u11{
color:rgb(5, 109, 15);
font-family: cursive;

}
.inp2{
  margin-left: 30px;

}
.inp1{
  margin-left: 10px;
}
.inp1,.inp2{
  margin-top: 50px;
}
#btn1{
  margin-left: 10px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-top: 50px;
  position: absolute;
}
#btn2{
  margin-left: 30px;
  background-color: red;
  border: 1px solid red;
  color: white;
}
#heading{
  margin-left: 200px;
  color: chocolate;
} */
 table,th,tr,td,tbody,thead{
  border: 1px solid black;
  width: 500px;
  height: 70px;
  border-collapse:collapse ;
  text-align: center;
color: red;
 }
 
