/* .button1{
  width: 200px;
  height: 50px;
  margin-left: 500px;
  margin-top: 200px;
  border: 1px solid gray;
  border-radius: 3rem;
  color: aliceblue;
}
.p1{
  margin-left: 540px;
  color: orange;
}
.p2{
  color: blue;
  margin-left: 450px;
}
.c1,.c2,.c3{
width: 150px;
height: 50px;

border: 1px solid gray;
border-radius: 3rem;
color: aliceblue;
background-color: rgb(255, 0, 187);

position: absolute;
}
.c1{
  margin-left: 300px;
  background-color: cadetblue;
}
.c2{
  margin-left: 500px;
  background-color: chocolate;
}
.c3{
  margin-left: 700px;
}
.heading1{

margin-left: 490px;
color: crimson;
}
.heading2{
  margin-left: 560px;
  color: indigo;
} */
.productsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px;
  gap: 20px;
  font-size: smaller;
  color: white;
  }
  .cards{
      width: 22.33%;
      border: 1px solid rgb(114, 64, 133);
      padding: 20px;
      border-radius: 2rem;
      background-color: rgb(114, 64, 133);
      margin-left: 50px;
      
  }
  /* .cards:hover{
      scale: 1.1;
  } */
  .thumbnail{
    margin-left: 35px;
    border-radius: 3rem;
  }
  .price{
    color: red;
    margin-left: 100px;
    font-size: larger;
  }
  .heading{

    margin-left: 580px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chartreuse;
  }
  .title{
    margin-left: 90px;
    font-size: 20px;
    color: gold;
  }
  .description {
    margin-left: 20px;
    font-size: smaller;
  }
  .dltbtn{

margin-left: 80px;
width: 100px;
height: 30px;
background-color: green;
border: 1px solid green;
color: white;
border-radius: 1rem;
  }